@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: font-url('iran-yekan/eot/iranyekanwebbold.eot');
  src: font-url('iran-yekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  font-url('iran-yekan/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  font-url('iran-yekan/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-url('iran-yekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: font-url('iran-yekan/eot/iranyekanweblight.eot');
  src: font-url('iran-yekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  font-url('iran-yekan/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  font-url('iran-yekan/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-url('iran-yekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: font-url('iran-yekan/eot/iranyekanwebregular.eot');
  src: font-url('iran-yekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  font-url('iran-yekan/woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  font-url('iran-yekan/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-url('iran-yekan/ttf/iranyekanwebregular.ttf') format('truetype');
}

/* Latin fonts (Roboto) */

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  src: font-url('iran-yekan/eot/robotobold.eot');
  src: font-url('iran-yekan/eot/robotobold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  font-url('iran-yekan/woff2/robotobold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  font-url('iran-yekan/woff/robotobold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-url('iran-yekan/ttf/robotobold.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  src: font-url('iran-yekan/eot/robotolight.eot');
  src: font-url('iran-yekan/eot/robotolight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  font-url('iran-yekan/woff2/robotolight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  font-url('iran-yekan/woff/robotolight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-url('iran-yekan/ttf/robotolight.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: font-url('iran-yekan/eot/robotoregular.eot');
  src: font-url('iran-yekan/eot/robotoregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  font-url('iran-yekan/woff2/robotoregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  font-url('iran-yekan/woff/robotoregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-url('iran-yekan/ttf/robotoregular.ttf') format('truetype');
}

