@font-face {
  font-family: 'English Text';
  src: local('Calibri'), local('Monaco');
  unicode-range: U+00-FF, U+980-9FF;
}

body {
  background-color: #43525A;
  font-family: 'English Text', iranyekan, Yekan, Tahoma;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roya;
}

// Utility Classes
.ltr {
  direction: ltr;
  font-family: Roya, Monaco, "Liberation Mono", Courier, monospace;
}

.rtl {
  direction: rtl !important;
}

.help-text {
  color: maroon;
}

.text-center {
  text-align: center;
}

.sign-in {
  direction: rtl;
  width: 420px;
  margin: 60px auto 40px auto;
  border-width: 0;
  .card-header {
    background-color: #4A90E2;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    padding: 20px 0;
  }
  .google-login {
    background-color: #E5EFFB !important;
    padding: 30px 20px;
  }
}