body {
  background-color: #43525A;
  font-family: iranyekan, Yekan, Tahoma;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roya;
}

.ltr {
  direction: ltr;
  font-family: Roya, Monaco, "Liberation Mono", Courier, monospace;
}

.rtl {
  direction: rtl !important;
}

.sign-in {
  direction: rtl;
  width: 420px;
  margin: 60px auto 40px auto;
  border-width: 0;
  .card-header {
    background-color: #4A90E2;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    padding: 20px 0;
  }
  .google-login {
    background-color: #E5EFFB !important;
    padding: 30px 20px;
  }
}